form{
    background-color: rgb(54, 52, 52);
    height: 300px;
    width: 200px;
    flex-shrink: shrink;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
}

.ser{
    margin-top: 100px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label{
    margin-left: 70px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

button{
    margin-top: 10px;
    background-color: green;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover{
    color: white;
    background-color: darkgreen;
}

#emailINP::placeholder{
    color: black;
}

#emailINP{
    color: black;
}

#passwordINP::placeholder{
    color: black;
}

#passwordINP{
    color: black;
}

