:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;          /* if you want centering */
  place-items: center;    /* optional */
  min-width: 320px;       /* optional */
  min-height: 100vh;      /* optional */
}

button {
  cursor: pointer;
}